*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
body{
    width: 100%;
   
}

.container-title{
    width: 100%;
}
    .container-title h1{
        text-align: center;
        font-size: 1.9em;
    }

    .container-title p{
        text-align: center;
        font-size: 1em;
    }

.alimentos{

}
    .alimentos h2{
        font-size:1.3em;
    }

    .alimentos p{
        font-size:0.9em;
    }

    .alimentos .tipo_alimento{
        font-size: 0.6em;
        margin-top: 1.2em;
    }

.font{
    font-size:0.8em !important;
}

.container_grupo_alimenticio{
    min-height:2.5em;
    border-radius:12px;
    overflow:hidden;
    box-shadow: 2px 2px 3px 0  gray;
    display:flex;
    font-size:0.8em;
}
    .container_grupo_alimenticio div:nth-child(1){
        min-height:2.5em;
        width:35px;
    }

    .container_grupo_alimenticio div:nth-child(2){
        min-height:40px;
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0.3em;
    }


.circle{
    min-height:3.5em;
    border-radius:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    text-align: center;
    color:white;
    font-size:0.7em;
    font-weight:bold;
    padding:0.3em;
    min-width:3.4em;
}
    .circle-bajo{
        background-color:rgba(238, 216, 36, 0.9) !important;
    }
    .circle-correcto{
        background-color:#4caf50 !important;
    }
    .circle-alto{
        background-color: red !important;
    }

.resultados h2{
    font-size:1.3em;
}

.txtCantidad{
    width:2.5em;
    height:2em;
    border-bottom:1px solid black;
    outline: 0;
}
